<div class="block has-text-centered">
  <h1 class="title is-1">CU Off Campus</h1>
  <hr>
  <span class="subtitle is-3">An off-campus housing platform exclusively for Columbia students</span>
</div>
<div class="block has-text-centered">
  <a class="button is-info" href="<%= apartments_path %>">Go to listing</a>
</div>
