<footer class="footer" style="margin-top: 2em">
  <div class="content has-text-centered">
    <p>
      <strong>CU Off Campus</strong> by <strong>Allen</strong>, <strong>Leo</strong>, and <strong>Yiwen</strong>.
    </p>
  </div>
</footer>
